@{
    ViewData["Title"] = "Storefront Page";
}

@model List<IoTBay.Models.Entities.Product>

<h2 class="text-center mb-4">Product Catalogue</h2>
<a asp-controller="Catalogue" asp-action="ProductAdd">Add New Product!</a>
<div></div>

<div class="container">
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-4 mb-4">
                <!-- Link to ProductPageController's ProductPage action -->
                <a asp-controller="Catalogue" asp-action="ProductPage" asp-route-id="@product.ProductId.ToString("D6")" class="text-decoration-none text-dark">
                    <div class="card h-100">
                            <img src="~/Photos/@(product.ProductId.ToString("D6") + ".png")" alt="@product.Name" class="img-fluid mb-3" />
                        <div class="card-body">
                            <h5 class="card-title">@product.Name</h5>
                            <p class="card-text">@product.ShortDescription</p>
                            <p class="card-text"><strong>Price:</strong> $@product.Price</p>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>