@{
    ViewBag.Title = "Access Denied";
    Layout = "_Layout";
}

<div class="text-center">
    <h1>Access Denied</h1>
    <p>You do not have permission to view this content.</p>
    <a asp-controller="Home" asp-action="Index">Return to the home page</a>
</div>
