@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center container py-5">
    <h1>@ViewData["Title"]</h1>

    <p>The Privacy Policy of the IotBay for Workshop: 9 | Group: 4 (Mikhail) </p>

    <h2>This store has one and only one privacy policy</h2>

    <h3>The privacy policy of this store is...</h3>

    <h4>The first and ONLY rule of IoTBay is</h4>

    <h5>You do not talk about... IoTBay</h5>
</div>