@* @{ *@
@*     ViewBag.Title = "Register New User"; *@
@*     Layout = "_Layout"; *@
@* } *@
@* *@
@* <div class="text-center"> *@
@*     <h1>Register New User</h1> *@
@*     <form asp-action="Register" method="post"> *@
@*         <label asp-for="Username">Username:</label> *@
@*         <input asp-for="Username" type="text" required /> *@
@* *@
@*         <label asp-for="Email">Email Address:</label> *@
@*         <input asp-for="Email" type="email" required /> *@
@* *@
@*         <label asp-for="GivenName">Name:</label> *@
@*         <input asp-for="GivenName" type="text" required /> *@
@* *@
@*         <label asp-for="Surname">Surname (Optional):</label> *@
@*         <input asp-for="Surname" type="text" /> *@
@* *@
@*         <label asp-for="Password">Password:</label> *@
@*         <input asp-for="Password" type="password" required /> *@
@*         <label asp-for="ConfirmPassword">Confirm Password:</label> *@
@*     </form> *@
@* </div> *@
