@model IoTBay.Models.Entities.ShipmentMethod

@{
    ViewData["Title"] = "Shipment Details";
}

<div class="container mt-4">
    <h1>Shipment Details</h1>

    <div class="row">
        <div class="col-md-12">
            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-header">
                    <h5>Shipment Information</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <dl class="row">
                                <dt class="col-sm-4">ID</dt>
                                <dd class="col-sm-8">@Model.ShipmentMethodId</dd>
                                
                                <dt class="col-sm-4">Shipping Method</dt>
                                <dd class="col-sm-8">@Model.Method</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h5>Delivery Address</h5>
                </div>
                <div class="card-body">
                    <p>@Model.Address.ToString()</p>
                </div>
            </div>
        </div>
    </div>
</div> 