@model IoTBay.Models.Views.ShipmentMethodEditViewModel

@{
    ViewData["Title"] = "Edit Shipment";
}

<div class="container mt-4">
    <h1>Edit Shipment</h1>

    <div class="row">
        <div class="col-md-6">
            <form asp-action="Edit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <input type="hidden" asp-for="ShipmentMethod.UserId" />
                <input type="hidden" asp-for="ShipmentMethod.AddressId" />
                <input type="hidden" asp-for="ShipmentMethod.ShipmentMethodId" />
                
                <div class="form-group mb-3">
                    <label asp-for="ShipmentMethod.Method" class="control-label"></label>
                    <input asp-for="ShipmentMethod.Method" class="form-control" value="@Model.ShipmentMethod.Method"/>
                    <span asp-validation-for="ShipmentMethod.Method" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <input asp-for="ShipmentMethod.Address.StreetLine1" type="text" placeholder="Street Line 1"/> <br/>
                    <input asp-for="ShipmentMethod.Address.StreetLine2" type="text" placeholder="Street Line 2"/> <br/>
                    <input asp-for="ShipmentMethod.Address.Suburb" type="text" placeholder="Suburb" /> <br/>
                    @Html.DropDownListFor(m => m.ShipmentMethod.Address.State, Model.States, new { @class = "form-control" })
                    <input asp-for="ShipmentMethod.Address.Postcode" type="text" placeholder="Postcode"/> <br/>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}