@model IoTBay.Models.Views.LoginViewModel

@{
    ViewBag.Title = "Log In";
    Layout = "_Layout";
}

<div class="text-center">
    <h2>Log In</h2>
    <form asp-action="Login" method="post">
        @if (ViewData.ModelState["incorrectLogin"]?.Errors.Count > 0)
        {
            <div class="alert alert-warning">
                <p>@ViewData.ModelState["incorrectLogin"]?.Errors[0].ErrorMessage</p>
            </div>
        }
        <input asp-for="Email" type="email" placeholder="Email" required/> <br/>
        <input asp-for="Password" type="password" placeholder="Password" required/> <br/>
        <button type="submit">Log In</button>
    </form>
    <p>Don't have an account? <a asp-action="Register">Register here</a>.</p>
</div>
